/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: #AC76FF;
    --ion-color-primary-rgb: 172, 118, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #9759e0;
    --ion-color-primary-tint: #b884ff;

    --ion-color-secondary: #FFB1EB;
    --ion-color-secondary-rgb: 255, 177, 235;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e09eca;
    --ion-color-secondary-tint: #ffbdef;

    --ion-color-tertiary: #FFFFFF;
    --ion-color-tertiary-rgb: 255, 255, 255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0e0e0;
    --ion-color-tertiary-tint: #ffffff;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0e0e0;
    --ion-color-light-tint: #ffffff;

    --ion-color-medium: #1b1b1f;
    --ion-color-medium-rgb: 27, 27, 31;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #18181c;
    --ion-color-medium-tint: #2e2e33;

    --ion-color-dark: #121212;
    --ion-color-dark-rgb: 18, 18, 18;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #0f0f0f;
    --ion-color-dark-tint: #2a2a2a;

    --ion-background-color: #0f0f14;
    --ion-background-color-rgb: 15, 15, 20;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
}
